@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: 20 28 51;
    --secondary-blue: 32 42 57;
    --dark-blue: 6 12 31;
    --light-blue: 40 51 82;
  }
}
